<div class="flex flex-col p-6">
    <!-- Theme -->
    <div class="text-secondary text-md font-semibold">THEME</div>
    <div class="mt-6 grid grid-cols-2 gap-3 sm:grid-cols-3">
        @for (theme of config.themes; track theme) {
        <div class="bg-hover flex cursor-pointer items-center justify-center rounded-full px-4 py-3 ring-inset ring-primary"
            [class.ring-2]="config.theme === theme.id" [ngClass]="theme.id" (click)="setTheme(theme.id)">
            <div class="h-3 w-3 flex-0 rounded-full bg-primary"></div>
            <div class="ml-2.5 truncate font-medium leading-5" [class.text-secondary]="config.theme !== theme.id">
                {{ theme.name }}
            </div>
        </div>
        }
    </div>

    <!-- Actions -->
    <div class="flex items-center justify-end pt-3">
        <button class=" ml-4" mat-flat-button type="button" [color]="'primary'" [disabled]="!toggledTheme"
            (click)="saveTheme()">
            Save
            <mat-progress-spinner *ngIf="saveSettingsForm.disabled" [diameter]="24"
                [mode]="'indeterminate'"></mat-progress-spinner>
        </button>
    </div>

    <!-- <hr class="my-8" /> -->
    <!-- Divider -->
    <div class="mt-11 mb-10 border-t"></div>

    <!-- Scheme -->
    <div class="text-secondary text-md font-semibold">SCHEME</div>
    <div class="mt-6 grid grid-cols-3 justify-items-start gap-3">
        <!-- Auto -->
        <!-- <div class="bg-hover flex cursor-pointer items-center rounded-full py-3 pl-5 pr-6 ring-inset ring-primary"
            [class.ring-2]="config.scheme === 'auto'"
            matTooltip="Automatically sets the scheme based on user's operating system's color scheme preference using 'prefer-color-scheme' media query."
            (click)="setScheme('auto')">
            <div class="flex items-center overflow-hidden rounded-full">
                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:bolt'"></mat-icon>
            </div>
            <div class="ml-2 flex items-center font-medium leading-5" [class.text-secondary]="config.scheme !== 'auto'">
                Auto
            </div>
        </div> -->
        <!-- Dark -->
        <div class="bg-hover flex cursor-pointer items-center rounded-full py-3 pl-5 pr-6 ring-inset ring-primary"
            [class.ring-2]="config.scheme === 'dark'" (click)="setScheme('dark')">
            <div class="flex items-center overflow-hidden rounded-full">
                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:moon'"></mat-icon>
            </div>
            <div class="ml-2 flex items-center font-medium leading-5" [class.text-secondary]="config.scheme !== 'dark'">
                Dark
            </div>
        </div>
        <!-- Light -->
        <div class="bg-hover flex cursor-pointer items-center rounded-full py-3 pl-5 pr-6 ring-inset ring-primary"
            [class.ring-2]="config.scheme === 'light'" (click)="setScheme('light')">
            <div class="flex items-center overflow-hidden rounded-full">
                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:sun'"></mat-icon>
            </div>
            <div class="ml-2 flex items-center font-medium leading-5"
                [class.text-secondary]="config.scheme !== 'light'">
                Light
            </div>
        </div>
    </div>

    <!-- Actions -->
    <div class="flex items-center justify-end pt-3">
        <button class="ml-4" mat-flat-button type="button" [color]="'primary'" [disabled]="!toggledScheme"
            (click)="saveScheme()">
            Save
            <mat-progress-spinner *ngIf="saveSettingsForm.disabled" [diameter]="24"
                [mode]="'indeterminate'"></mat-progress-spinner>
        </button>
    </div>

    <!-- Divider -->
    <div class="mt-11 mb-10 border-t"></div>
</div>
