<div>
    <div class="flex flex-row p-2 bg-gray-300">
        <button class="ml-3 hidden sm:inline-flex" mat-flat-button [color]="'primary'" (click)="resetZoom()">
            <!-- <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus'"></mat-icon> -->
            <span class="ml-2">Reset</span>
        </button>
        <button class="ml-3 hidden sm:inline-flex" mat-flat-button [color]="'primary'" (click)="onZoomInClicked()">
            <!-- <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus'"></mat-icon> -->
            <span class="ml-2">ZoomIn</span>
        </button>
        <button class="ml-3 hidden sm:inline-flex" mat-flat-button [color]="'primary'" (click)="onZoomOutClicked()">
            <!-- <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus'"></mat-icon> -->
            <span class="ml-2">ZoomOut</span>
        </button>
        <button class="ml-3 hidden sm:inline-flex" mat-flat-button [color]="'primary'" (click)="onPanDown100Clicked()">
            <!-- <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus'"></mat-icon> -->
            <span class="ml-2">Up</span>
        </button>
        <button class="ml-3 hidden sm:inline-flex" mat-flat-button [color]="'primary'" (click)="onPanUp100Clicked()">
            <!-- <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus'"></mat-icon> -->
            <span class="ml-2">Down</span>
        </button>
        <button class="ml-3 hidden sm:inline-flex" mat-flat-button [color]="'primary'" (click)="onPanRight100Clicked()">
            <!-- <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus'"></mat-icon> -->
            <span class="ml-2">Left</span>
        </button>
        <button class="ml-3 hidden sm:inline-flex" mat-flat-button [color]="'primary'" (click)="onPanLeft100Clicked()">
            <!-- <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus'"></mat-icon> -->
            <span class="ml-2">Right</span>
        </button>
    </div>
    <div style="position: absolute; top: 350px; bottom: 0; left: 0; right: 0">
        <ngx-panzoom #PanZoom [zoomLevels]="10" [scalePerZoomLevel]="scalePerZoomLevel()" [zoomStepDuration]="0.2"
            [freeMouseWheelFactor]="0.01" [zoomToFitZoomLevelFactor]="0.9" [neutralZoomLevel]="neutralZoomLevel()"
            [zoomOnMouseWheel]="zoomEnabled()" (modelChange)="panzoomModel.set($event)">
            <div class="relative p-5 bg-gray-800 rounded-lg shadow-lg">
                <!-- keyboard.component.html -->
                <div cdkDropList [cdkDropListConnectedTo]="'abilitiesDropList'" (cdkDropListDropped)="onDrop($event)"
                    class="keyboard-container" (cdkDropListEntered)="onListEnter($event)"
                    (cdkDropListExited)="onListExit($event)">
                    <!-- Loop through rows and keys -->
                    <div *ngFor="let row of keyboardLayout" class="flex space-x-1 mb-1">
                        <div *ngFor="let key of row" cdkDropList
                            class="bg-gray-700 text-white font-semibold flex justify-center items-center h-12 {{ key.width }} rounded border border-gray-600 shadow-md transition-transform transform duration-300 ease-in-out hover:bg-gray-300"
                            (cdkDragEntered)="expandKey(key)" (cdkDragExited)="collapseKey(key)"
                            [ngClass]="{ 'bg-green-500': key.isHovered, 'bg-gray-700': !key.isHovered }">
                            {{ key.label }}
                        </div>
                    </div>
                </div>
            </div>
        </ngx-panzoom>
    </div>
</div>
