<div class="w-full max-w-3xl">

    <!-- Section -->
    <div class="w-full">
        <div class="text-xl">Change your password</div>
    </div>

    <!-- Alert -->
    @if (showAlert) {
    <fuse-alert class="mt-8" [appearance]="'outline'" [showIcon]="false" [type]="alert.type"
        [@shake]="alert.type === 'error'">
        {{ alert.message }}
    </fuse-alert>
    }

    <!-- Sign in form -->
    <form class="mt-8" [formGroup]="changePasswordForm" #changePasswordNgForm="ngForm">
        <!-- Current Password field -->
        <mat-form-field class="w-full">
            <mat-label>Current Password</mat-label>
            <input id="currentPassword" matInput type="password" [formControlName]="'currentPassword'"
                #currentPasswordField />
            <button mat-icon-button type="button" (click)="
            currentPasswordField.type === 'password'
                ? (currentPasswordField.type = 'text')
                : (currentPasswordField.type = 'password')
        " matSuffix>
                @if (currentPasswordField.type === 'password') {
                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                }
                @if (currentPasswordField.type === 'text') {
                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
                }
            </button>
            @if (changePasswordForm.get('currentPassword').hasError('required')) {
            <mat-error> Current Password is required </mat-error>
            }
        </mat-form-field>

        <!-- New Password field -->
        <mat-form-field class="w-full">
            <mat-label>New Password</mat-label>
            <input id="newPassword" matInput type="password" [formControlName]="'newPassword'" #newPasswordField />
            <button mat-icon-button type="button" (click)="
            newPasswordField.type === 'password'
                ? (newPasswordField.type = 'text')
                : (newPasswordField.type = 'password')
        " matSuffix>
                @if (newPasswordField.type === 'password') {
                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                }
                @if (newPasswordField.type === 'text') {
                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
                }
            </button>
            @if (changePasswordForm.get('newPassword').hasError('required')) {
            <mat-error> New Password is required </mat-error>
            }
        </mat-form-field>

        <!-- Verify New Password field -->
        <mat-form-field class="w-full">
            <mat-label>Verify New Password</mat-label>
            <input id="verifyNewPassword" matInput type="password" [formControlName]="'verifyNewPassword'"
                #verifyNewPasswordField />
            <button mat-icon-button type="button" (click)="
            verifyNewPasswordField.type === 'password'
                                ? (verifyNewPasswordField.type = 'text')
                                : (verifyNewPasswordField.type = 'password')
                        " matSuffix>
                @if (verifyNewPasswordField.type === 'password') {
                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                }
                @if (verifyNewPasswordField.type === 'text') {
                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
                }
            </button>
            @if (changePasswordForm.get('verifyNewPassword').hasError('required')) {
            <mat-error> Verify New Password is required </mat-error>
            }
            @if (
            changePasswordForm
            .get('verifyNewPassword')
            .hasError('mustMatch')
            ) {
            <mat-error> Passwords must match </mat-error>
            }
        </mat-form-field>
        <div class="flex items-center justify-end">
            <!-- Submit button -->
            <button class="fuse-mat-button-large mt-6" mat-flat-button [color]="'primary'"
                [disabled]="changePasswordForm.disabled" (click)="changePassword()">
                @if (!changePasswordForm.disabled) {
                <span> Change Password </span>
                }
                @if (changePasswordForm.disabled) {
                <mat-progress-spinner [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
                }
            </button>
        </div>
        <!-- Separator -->
        <!-- <div class="mt-8 flex items-center">
            <div class="mt-px flex-auto border-t"></div>
            <div class="text-secondary mx-2">Or continue with</div>
            <div class="mt-px flex-auto border-t"></div>
        </div> -->

        <!-- Single sign-on buttons -->
        <!-- <div class="mt-8 flex items-center space-x-4">
            <button class="flex-auto" type="button" mat-stroked-button>
                <mat-icon class="icon-size-5" [svgIcon]="'feather:facebook'"></mat-icon>
            </button>
            <button class="flex-auto" type="button" mat-stroked-button>
                <mat-icon class="icon-size-5" [svgIcon]="'feather:twitter'"></mat-icon>
            </button>
            <button class="flex-auto" type="button" mat-stroked-button>
                <mat-icon class="icon-size-5" [svgIcon]="'feather:github'"></mat-icon>
            </button>
        </div> -->
    </form>

</div>
